[General]
trainFullXvector = True
modelType = 4
featDim = 30
resumeTraining = 0
resumeModelDir = models/isXvec_False_modelType_4_event_202002-1916-0231/

[toyXvector]
egsDir = /home/manoj/kaldi/egs/voxceleb/v2/exp/xvector_nnet_1a/egs/
numArchives = 69
numSpkrs = 460
logStepSize = 50
batchSize = 32
numEgsPerArk = 23000

[fullXvector]
egsDir = /home/manoj/kaldi/egs/voxceleb/v2/exp/xvector_nnet_1a/egs/
numArchives = 84
numSpkrs = 7323
logStepSize = 200
batchSize = 32
numEgsPerArk = 366150

[Optimizer]
momentum = 0.5
base_lr = 1e-3
max_lr = 2e-3

[Training]
numEpochs = 5
noise_eps = 1e-5
# How many xbatchSize to fetch from dataloader
preFetchRatio = 30
# Use a triangular dropout rule, 0 to p_drop_max@step_frac and back to 0 twice as fast
step_frac = 0.5
p_drop_max = 0.2

[Extraction]
extractModel = good3_kronos
# Note that featDir should have been prepared using local/nnet3/xvector/prepare_feats_for_egs.sh
trainFeatDir = /home/manoj/kaldi/egs/voxceleb/v2/data/train_combined_no_sil/
trainXvecDir = xvectors/%(extractModel)s/train
testFeatDir = /home/manoj/kaldi/egs/voxceleb/v2/data/voxceleb1_test_no_sil/
testXvecDir = xvectors/%(extractModel)s/test
