[General]
trainFullXvector = True
useDataLoader = 1
modelType = 4
featDim = 30
resumeTraining = 1
resumeModelDir = models/xvec_preTrained

[toyXvector]
egsDir = small_egs/
numArchives = 69
numSpkrs = 460
logStepSize = 50
batchSize = 32
numEgsPerArk = 23000

[fullXvector]
egsDir = exp/xvector_nnet_1a/egs/
numArchives = 84
numSpkrs = 7323
logStepSize = 200
batchSize = 32
numEgsPerArk = 366150

[Optimizer]
momentum = 0.5
base_lr = 1e-3
max_lr = 2e-3

[Training]
numEpochs = 3
noise_eps = 1e-5
# How many xbatchSize to fetch from dataloader
preFetchRatio = 30
# Use a triangular dropout rule, p_drop_inst to p_drop@t_frac and back to 0
step_frac = 0.5
p_drop_max = 0.2

[Extraction]
extractModel = xvec_preTrained
# Note that featDir should have been prepared using local/nnet3/xvector/prepare_feats_for_egs.sh
trainFeatDir = data/train_combined_no_sil/
trainXvecDir = xvectors/%(extractModel)s/train
testFeatDir = data/voxceleb1_test_no_sil/
testXvecDir = xvectors/%(extractModel)s/test

